# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/build/
**/build/
/coverage/
**/coverage/

# Pub — libraries should not include pubspec.lock
pubspec.lock

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart
.metadata

docs/*
